.order-button {
    background: $light-green;
    border-radius: 30px;
    width: 98px;
    height: 32px;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 150%;
border: none;
cursor: pointer;
color: $text-black;
transition: background-color $transition $timing-function;

&:hover, &:focus{
background-color: $hover-green;
}
}
