<section class="favorites">
    <div class="container favorites__container">
        <h2 class="title favorites__title">Some of Our Favorites</h2>
        <p class="favorites_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="list favorites__list">
            <li class="favorites__item">
                <img src="" alt="" class="favorites__img">
            </li>
            <li class="favorites__item">
                <img src="" alt="" class="favorites__img">
            </li>
            <li class="favorites__item">
                <img src="" alt="" class="favorites__img">
            </li>
            <li class="favorites__item">
                <img src="" alt="" class="favorites__img">
            </li>
            <li class="favorites__item">
                <img src="" alt="" class="favorites__img">
            </li>
            <li class="favorites__item">
                <img src="" alt="" class="favorites__img">
            </li>
        </ul>
    </div>
</section>