<header class="header">
    <div class="container header__container">
        <a href="" class="logo">
            <img src="../images/logo/Vector.png" alt="logo">
        </a>
        <nav class="nav">
            <ul class="list nav__list">
                <li class="nav__item">Home</li>
                <li class="nav__item">Order</li>
                <li class="nav__item">Offerings</li>
                <li class="nav__item">Favorites</li>
                <li class="nav__item">Feedback</li>
            </ul>
            <button class="button nav-button order-button">Order now</button>
        </nav>
    </div>
    <button class="mob__burger">

    </button>
    <div class="menu">
        <div class="menu__container">
            <button class="cross__button">
            </button>
            <ul class="menu__list">
                <li class="menu__item">Home</li>
                <li class="menu__item">Order</li>
                <li class="menu__item">Offerings</li>
                <li class="menu__item">Favorites</li>
                <li class="menu__item">Feedback</li>
            </ul>
        </div>

        </button>

    </div>
</header>