<section class="subscribe">
    <div class="container">
        <div class="subscribe__content">
            <h2 class="title subscribe__title">Subscribe To Get Special Offers</h2>
            <p class="section__text subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <form action="submit" class="subscribe__form">
                <input type="text" class="subscribe__input" placeholder="Enter your email">
                <button class="button subscribe__button" >Subscribe</button>
            </form>
        </div>
        <img src="" alt="">
    </div>
</section>