.customers {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-image: url(/crs/images/customers/customers@1x_mob.png);

    @include mq(retina) {
        background-image: url(/crs/images/customers/customers@2x_mob.png);
    }

    @include mq(tab) {
        max-width: 768px;


        background-image: url(/crs/images/customers/customers@1x_tab.png);
        background-repeat: no-repeat;

        @include mq(retina) {
            background-image: url(/crs/images/customers/customers@2x_tab.png);
        }
    }

    @include mq(desk) {
        max-width: 1280px;
        background-image: url(/crs/images/customers/customers@1x_desk.png);
        background-repeat: no-repeat;

        @include mq(retina) {
            background-image: url(/crs/images/customers/customers@2x_desk.png);
        }
    }
}

.customers__container {

}

.customers__title{
margin-bottom: 20px;
}

.customers__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    margin-bottom: 32px;

    @include mq(tab) {
        font-size: 16px;
        line-height: 1.18
    }
}

.customers__list{
width: 100%;
display: flex;
flex-direction: column;
gap: 24px;

@include mq(tab) {
    flex-direction: row;
    gap: 32px;
}

@include mq(desk) {
    gap: 140px;
}
}

.customers__item{
background-color: #fff;
border-radius: 0px 30px 30px 30px;
padding: 8px;

@include mq(tab) {
    padding: 12px;
}

@include mq(desk) {
    padding: 14px;
}
}

.stars{
margin-bottom: 28px;
display: flex;
gap: 4px;
}

.review__text{
    margin-bottom: 40px;
    font-weight: 700;
font-size: 16px;
line-height: 1.18;

@include mq(tab) {
    font-size: 18px;
    line-height: 1.16;
}
}

.customer__info{
 display: flex;
 gap: 16px;
 
 align-items: center;
 max-width: 160px;
 border-right: 1px solid $dark-green;

}

.customers__content {
align-items: center;
font-weight: 400;
font-size: 14px;
line-height: 1.5;

}

.customer__name {
    font-weight: 500;
margin-bottom: 2px;
}