.footer{
    margin: 0 auto;
    padding-top: 60px;
    background-repeat: no-repeat;
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

    background-size: 100% 100%;
    background-image: url(/crs/images/footer/fruit-set@1x_mob.png);

    @include mq(retina) {
        background-image: url(/crs/images/footer/fruit-set@2x_mob.png);
    }

    @include mq(tab) {
        max-width: 768px;


        background-image: url(/crs/images/footer/fruit-set@1x_tab.png);
        background-repeat: no-repeat;

        @include mq(retina) {
            background-image: url(/crs/images/footer/fruit-set@2x_tab.png);
        }
    }

    @include mq(desk) {
        max-width: 1280px;
        background-image: url(/crs/images/footer/fruit-set@1x_desk.png);
        background-repeat: no-repeat;

        @include mq(retina) {
            background-image: url(/crs/images/footer/fruit-set@2x_desk.png);
        }
    }

    
}

.footer__container {

}

.footer__nav {
display: flex;
}

.footer-nav__list {
margin-left: 81px;
display: flex;
flex-direction: column;
gap: 20px;
margin-right: auto;
font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
}

.footer-nav__item{
    
}

.footer__subscribe{

}

.subscribe__title {

}

.subscribe__text {

}

.footer__privacy{

}
.privacy__list {

}

.privacy__item {

}

.footer_licence {

}