.header__container{
    display: flex;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}
.nav{
    display: flex;
    gap: 30px;
    align-items: center;

    

    @include mq(mob-only) {
        display: none;
    }


}
.nav__list{
    display: flex;
    gap: 28px;
    align-items: center;
}

.nav__item{
font-weight: 400;
font-size: 14px;
line-height: 1.14;
cursor: pointer; 
transition: color $transition $timing-function;

&:hover, &:focus {
    text-decoration: underline;
    color: $light-green;
}

}



.menu-open{
    background-color: transparent;
    border: none;
    transition: fill $transition $timing-function;
    
    &:hover, &:focus {
        fill: $dark-green;
    }

    @include mq(tab) {
        display: none;
    }

}