
.hero__title {
    font-weight: 700;
font-size: 28px;
line-height: 1.17;
width: 100%;

@include mq(tab) {
    font-size: 42px;
}

@include mq(desk) {
    font-size: 48px;
}

}

.hero__container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    @include mq(tab) {
        max-width: 537px;
    }
    
    @include mq(desk) {
        max-width: 502px;
        padding-top: 60px;
        padding-bottom: 50px;
    }

}
.hero__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;

@include mq(tab) {
    max-width: 537px;
}

@include mq(desk) {
    max-width: 502px;
}

}
