.subscribe {
    margin-top: -100px;

    @include mq(tab) {
        margin-top: -170px;
    }
}

.subscribe__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    @include mq(desk) {
        flex-direction: row-reverse;
    }
}

.subscribe__content {

    @include mq(desk) {
       max-width: 665px; 
    }

}

.subscribe__title {
    margin-bottom: 20px;
}

.subscribe__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 40px;

    @include mq(tab) {
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 24px;
        max-width: 656px;
    }
}

.form__container {
    width: 100%;
    @include mq(tab) {
display: flex;
    }

    @include mq(desk) {
        
    }
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    @include mq(mob-only){
    margin-bottom: 20px;
    }

   
}

.subscribe__input {
    background: #FFFFFF;
    border: 0.854167px solid $yellow;
    border-radius: 30px;
    font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: #505050;
padding-left: 11px;
padding-top: 12px;
padding-bottom: 12px;
width: 100%;
outline: transparent;

transition: border-color $transition $timing-function;




 @include mq(tab) {
width: 394px;
    }

    
}

.subscribe__input:not(:placeholder-shown):required:valid{
    border-color: $dark-green ;
}

.subscribe__input:not(:placeholder-shown):required:invalid{
    border-color: #FF705D;
}

.subscribe__input:not(:placeholder-shown):required:invalid + .subscribe__validity {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    @include mq(tab) {
        display: inline;
    }
}
.subscribe__input::placeholder {
    font-size: 12px;
    color: #505050;
    line-height: 1.5;
}
.subscribe__validity {
    opacity: 0;
    font-size: 10px;
    line-height: 1.5;
    color: #FF705D;
    display: flex;
align-items: center;
    @include mq(mob-only) {
    margin-bottom: 5px;
    }
    
}




.subscribe__img {
    max-width: 280px;
    margin-bottom: 17px;
    @include mq(tab) {
margin-left: auto;
margin-bottom: 20px;
    }

    @include mq(desk) {
max-width: 608px;
    }
}


.error-img {
    margin-right: 4px;
    fill: #FF705D ;
}