$text-black: #2C2C2C;
$light-green: #BBF330;
$hover-green: #B5FF00;
$dark-green: #7EB101;
$button-hover-green: #597D00;
$yellow: #FFE550;
$shadow-fruit: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);



$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition: 250ms;